In [25]:
import yfinance as yf
from yahoo_fin.stock_info import get_data

# requires python 3.9 min

In [26]:
'''https://algotrading101.com/learn/yahoo-finance-api-guide/'''

'https://algotrading101.com/learn/yahoo-finance-api-guide/'

In [4]:
amazon_weekly = get_data("amzn", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2023-01-01,85.459999,86.980003,81.430000,86.080002,86.080002,296825300,AMZN
2023-01-08,87.459999,98.370003,87.080002,98.120003,98.120003,406953100,AMZN
2023-01-15,98.680000,99.320000,92.860001,97.250000,97.250000,288809600,AMZN
2023-01-22,97.559998,103.489998,91.519997,102.239998,102.239998,393991400,AMZN
2023-01-29,101.089996,114.000000,99.010002,103.389999,103.389999,520198300,AMZN
2023-02-05,102.930000,103.949997,96.230003,97.610001,97.610001,394687400,AMZN
2023-02-12,97.849998,101.169998,95.650002,97.199997,97.199997,273370600,AMZN
2023-02-19,95.339996,97.010002,92.320000,93.500000,93.500000,221635300,AMZN
2023-02-26,94.279999,94.940002,90.389999,94.900002,94.900002,254998100,AMZN
2023-03-05,95.190002,96.550003,90.250000,90.730003,90.730003,272158400,AMZN
2023-03-12,89.970001,100.989998,88.120003,98.949997,98.949997,375788700,AMZN
2023-03-19,98.410004,102.099998,95.699997,98.129997,98.129997,292116300,AMZN
2023-03-26,99.070000,103.489998,96.290001,103.290001,103.290001,245608400,AMZN
2023-04-02,102.300003,104.199997,99.800003,102.059998,102.059998,178781600,AMZN
2023-04-09,100.959999,103.199997,97.709999,102.510002,102.510002,273789600,AMZN
2023-04-16,103.160004,108.150002,101.389999,106.959999,106.959999,282580000,AMZN
2023-04-23,107.660004,110.860001,102.449997,105.449997,105.449997,488932400,AMZN
2023-04-30,104.949997,105.959999,101.150002,105.660004,105.660004,315507800,AMZN
2023-05-05,104.269997,105.760002,103.550003,105.654999,105.654999,56951744,AMZN

In [13]:
# facebook_weekly = get_data("fb", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
# facebook_weekly
'''doesn't like fb... is it meta now?'''

"doesn't like fb... is it meta now?"

In [9]:
microsoft_weekly = get_data("msft", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
microsoft_weekly

,open,high,low,close,adjclose,volume,ticker
2023-01-01,243.080002,245.750000,219.350006,224.929993,224.368011,159562600,MSFT
2023-01-08,226.449997,239.899994,226.410004,239.229996,238.632294,131675800,MSFT
2023-01-15,237.970001,242.380005,230.679993,240.220001,239.619827,123872800,MSFT
2023-01-22,241.100006,249.830002,230.899994,248.160004,247.539993,198648400,MSFT
2023-01-29,244.509995,264.690002,242.199997,258.350006,257.704529,152686100,MSFT
2023-02-05,257.440002,276.760010,254.779999,263.100006,262.442657,196239000,MSFT
2023-02-12,267.640015,274.970001,256.000000,258.059998,257.415253,170204900,MSFT
2023-02-19,254.479996,256.839996,248.100006,249.220001,249.220001,105098500,MSFT
2023-02-26,252.460007,255.619995,245.610001,255.289993,255.289993,126814600,MSFT
2023-03-05,256.429993,260.119995,247.600006,248.589996,248.589996,117910500,MSFT
2023-03-12,247.399994,283.329987,245.729996,279.429993,279.429993,237284200,MSFT
2023-03-19,276.980011,281.059998,269.519989,280.570007,280.570007,177681500,MSFT
2023-03-26,280.500000,289.269989,272.049988,288.299988,288.299988,131625200,MSFT
2023-04-02,286.519989,292.079987,282.029999,291.600006,291.600006,102542700,MSFT
2023-04-09,289.209991,289.899994,281.640015,286.140015,286.140015,122993600,MSFT
2023-04-16,289.929993,291.760010,283.059998,285.760010,285.760010,106069100,MSFT
2023-04-23,282.089996,308.929993,275.369995,307.260010,307.260010,219891700,MSFT
2023-04-30,306.970001,311.970001,303.399994,310.649994,310.649994,120760400,MSFT
2023-05-05,305.720001,311.970001,304.269989,310.649994,310.649994,28197052,MSFT

In [10]:
nvidia_weekly = get_data("nvda", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
nvidia_weekly

,open,high,low,close,adjclose,volume,ticker
2023-01-01,148.509995,150.100006,140.339996,148.589996,148.564758,162681300,NVDA
2023-01-08,152.839996,169.220001,151.410004,168.990005,168.961304,224031300,NVDA
2023-01-15,168.990005,178.729996,167.309998,178.389999,178.359711,196862500,NVDA
2023-01-22,180.639999,206.279999,178.179993,203.649994,203.615417,263258100,NVDA
2023-01-29,199.500000,219.490005,189.500000,211.000000,210.964172,264074700,NVDA
2023-02-05,208.059998,230.199997,207.860001,212.649994,212.613876,275061100,NVDA
2023-02-12,215.380005,230.490005,209.619995,213.880005,213.843689,244888200,NVDA
2023-02-19,210.000000,238.880005,204.210007,232.860001,232.820465,263091000,NVDA
2023-02-26,236.699997,239.000000,224.320007,238.899994,238.859421,217079100,NVDA
2023-03-05,238.910004,244.539993,227.259995,229.649994,229.610992,244227900,NVDA
2023-03-12,227.520004,263.989990,222.970001,257.250000,257.250000,285308600,NVDA
2023-03-19,256.149994,275.890015,251.300003,267.790009,267.790009,279725900,NVDA
2023-03-26,268.369995,278.339996,258.500000,277.769989,277.769989,190927300,NVDA
2023-04-02,275.089996,280.000000,263.950012,270.369995,270.369995,167997700,NVDA
2023-04-09,268.230011,277.899994,262.200012,267.579987,267.579987,190519100,NVDA
2023-04-16,265.649994,281.100006,264.329987,271.190002,271.190002,205775900,NVDA
2023-04-23,270.130005,277.579987,262.250000,277.489990,277.489990,179299400,NVDA
2023-04-30,278.399994,290.579987,272.399994,286.799988,286.799988,203931000,NVDA
2023-05-05,278.255005,287.549988,277.320007,286.799988,286.799988,35393015,NVDA

In [14]:
supermicro_weekly = get_data("smci", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
supermicro_weekly

,open,high,low,close,adjclose,volume,ticker
2023-01-01,83.080002,87.739998,79.629997,84.389999,84.389999,4395700,SMCI
2023-01-08,85.949997,92.800003,74.040001,80.580002,80.580002,10649500,SMCI
2023-01-15,80.550003,86.820000,69.019997,71.980003,71.980003,9016600,SMCI
2023-01-22,72.959999,79.739998,71.510002,74.300003,74.300003,5127600,SMCI
2023-01-29,73.070000,85.849998,70.110001,84.339996,84.339996,8842200,SMCI
2023-02-05,83.500000,93.879997,80.000000,90.019997,90.019997,7375300,SMCI
2023-02-12,89.449997,97.959999,87.599998,91.980003,91.980003,6735000,SMCI
2023-02-19,90.500000,98.360001,85.610001,98.160004,98.160004,5768900,SMCI
2023-02-26,98.860001,103.980003,95.099998,97.830002,97.830002,7027500,SMCI
2023-03-05,98.849998,104.300003,92.089996,92.760002,92.760002,6152300,SMCI
2023-03-12,91.000000,98.040001,87.250000,95.500000,95.500000,6962900,SMCI
2023-03-19,95.489998,118.360001,95.410004,110.830002,110.830002,9920000,SMCI
2023-03-26,111.949997,113.599998,101.309998,106.550003,106.550003,7768000,SMCI
2023-04-02,106.570000,117.070000,97.019997,100.690002,100.690002,7834500,SMCI
2023-04-09,100.000000,110.540001,99.239998,109.150002,109.150002,6013000,SMCI
2023-04-16,109.150002,119.239998,102.330002,107.320000,107.320000,6059000,SMCI
2023-04-23,97.510002,105.500000,93.190002,105.430000,105.430000,10414800,SMCI
2023-04-30,105.440002,143.529999,101.709999,137.229996,137.229996,16273800,SMCI
2023-05-05,138.199997,143.520004,135.029999,137.229996,137.229996,2345234,SMCI

In [15]:
qqq_weekly = get_data("qqq", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
qqq_weekly

,open,high,low,close,adjclose,volume,ticker
2023-01-01,268.649994,270.149994,260.339996,268.799988,268.384491,190146600,QQQ
2023-01-08,270.829987,281.220001,268.970001,280.970001,280.535706,230296400,QQQ
2023-01-15,280.769989,284.690002,273.890015,282.679993,282.243042,188788200,QQQ
2023-01-22,283.540009,298.260010,281.179993,296.260010,295.802063,256585200,QQQ
2023-01-29,292.929993,313.679993,289.890015,306.179993,305.706726,322914500,QQQ
2023-02-05,303.510010,311.029999,297.250000,299.700012,299.236755,264295100,QQQ
2023-02-12,301.130005,309.269989,298.100006,301.160004,300.694489,264545700,QQQ
2023-02-19,297.260010,298.730011,290.049988,291.850006,291.398895,241542300,QQQ
2023-02-26,295.070007,299.920013,288.369995,299.679993,299.216766,269602500,QQQ
2023-03-05,300.940002,304.000000,287.380005,288.549988,288.103973,343618700,QQQ
2023-03-12,286.730011,309.149994,285.190002,305.359985,304.887970,442479400,QQQ
2023-03-19,304.260010,315.250000,302.010010,310.890015,310.409454,313679600,QQQ
2023-03-26,311.600006,321.170013,304.769989,320.929993,320.929993,272640500,QQQ
2023-04-02,318.769989,321.630005,312.820007,318.049988,318.049988,202714400,QQQ
2023-04-09,315.070007,320.359985,312.570007,318.570007,318.570007,258953700,QQQ
2023-04-16,318.149994,321.420013,314.100006,316.609985,316.609985,250178400,QQQ
2023-04-23,316.380005,322.649994,309.890015,322.559998,322.559998,281648100,QQQ
2023-04-30,322.089996,323.760010,315.119995,322.890015,322.890015,259415400,QQQ
2023-05-05,318.470001,323.760010,316.211609,322.890015,322.890015,51806098,QQQ

In [16]:
ndxt_weekly = get_data("ndxt", start_date="01/01/2023", end_date="05/06/2023", index_as_date = True, interval="1wk")
ndxt_weekly

AssertionError: {'chart': {'result': None, 'error': {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}}}

In [18]:
# example w/ multiple tickers
# this pulls the data into a cache
ticker_list = ["amzn", "aapl", "ba"]
historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker)

In [20]:
# how to call an individual ticker from historical_datas
historical_datas["aapl"]

,open,high,low,close,adjclose,volume,ticker
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600,AAPL
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800,AAPL
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087582,105728000,AAPL
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089749,86441600,AAPL
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092351,73449600,AAPL
...,...,...,...,...,...,...,...
2023-05-01,169.279999,170.449997,168.639999,169.589996,169.589996,52472900,AAPL
2023-05-02,170.089996,170.350006,167.539993,168.539993,168.539993,48425700,AAPL
2023-05-03,169.500000,170.919998,167.160004,167.449997,167.449997,65136000,AAPL
2023-05-04,164.889999,167.039993,164.309998,165.789993,165.789993,81235400,AAPL
2023-05-05,170.979996,174.300003,170.759995,173.570007,173.570007,113316400,AAPL

In [21]:
# how to return all tickers with Dow Jones
import yahoo_fin.stock_info as si
dow_list = si.tickers_dow()

In [22]:
print("Tickers in Dow Jones:", len(dow_list))
dow_list[0:10]

Tickers in Dow Jones: 30

['AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS', 'DOW']

In [24]:
# Iterate through the list of tickers, appending each time to the dictionary again:
# note that the output is in the form of a dictionary

dow_historical = {}
for ticker in dow_list:
    dow_historical[ticker] = si.get_data(ticker, start_date="01/01/2020", end_date="01/03/2020", interval="1d")
dow_historical

{'AAPL':                  open       high        low      close   adjclose     volume
 2020-01-02  74.059998  75.150002  73.797501  75.087502  73.449394  135480400  \

            ticker
 2020-01-02   AAPL  ,
 'AMGN':              open        high         low       close   adjclose   volume
 2020-01-02  243.0  243.190002  238.979996  240.100006  217.77124  2088000  \

            ticker
 2020-01-02   AMGN  ,
 'AXP':                   open        high         low       close   adjclose
 2020-01-02  124.660004  126.269997  124.230003  125.849998  120.20771  \

              volume ticker
 2020-01-02  2708000    AXP  ,
 'BA':                   open        high         low       close    adjclose
 2020-01-02  328.549988  333.350006  327.700012  333.320007  331.348572  \

              volume ticker
 2020-01-02  4544400     BA  ,
 'CAT':              open        high         low       close   adjclose   volume
 2020-01-02  149.0  150.550003  147.979996  150.529999  138.43515  3311900  \

            ticker
 2020-01-02    CAT  ,
 'CRM':                   open        high         low       close    adjclose
 2020-01-02  163.919998  167.070007  163.580002  166.990005  166.990005  \

              volume ticker
 2020-01-02  5189300    CRM  ,
 'CSCO':                  open       high        low      close   adjclose    volume
 2020-01-02  48.060001  48.419998  47.880001  48.419998  43.737217  16708100  \

            ticker
 2020-01-02   CSCO  ,
 'CVX':                   open        high         low   close    adjclose   volume
 2020-01-02  120.809998  121.629997  120.769997  121.43  104.474899  5205000  \

            ticker
 2020-01-02    CVX  ,
 'DIS':                   open        high         low       close    adjclose
 2020-01-02  145.289993  148.199997  145.100006  148.199997  148.199997  \

              volume ticker
 2020-01-02  9502100    DIS  ,
 'DOW':              open       high        low  close   adjclose   volume ticker
 2020-01-02  55.23  55.540001  53.639999  53.75  45.447067  5145200    DOW,
 'GS':              open        high         low       close    adjclose   volume
 2020-01-02  231.0  234.639999  230.160004  234.320007  217.524246  3736300  \

            ticker
 2020-01-02     GS  ,
 'HD':                   open        high         low       close    adjclose
 2020-01-02  219.080002  219.759995  217.839996  219.660004  203.572769  \

              volume ticker
 2020-01-02  3935700     HD  ,
 'HON':              open        high         low       close    adjclose   volume
 2020-01-02  177.5  180.800003  177.139999  180.789993  169.283707  2857400  \

            ticker
 2020-01-02    HON  ,
 'IBM':                   open        high         low      close    adjclose
 2020-01-02  129.063095  129.942642  128.843216  129.46463  110.232506  \

              volume ticker
 2020-01-02  3293436    IBM  ,
 'INTC':                  open       high        low  close   adjclose    volume ticker
 2020-01-02  60.240002  60.970001  60.220001  60.84  54.760349  18056000   INTC,
 'JNJ':                   open        high         low       close   adjclose
 2020-01-02  145.869995  146.020004  145.080002  145.970001  134.10025  \

              volume ticker
 2020-01-02  5777000    JNJ  ,
 'JPM':                   open        high         low       close    adjclose
 2020-01-02  139.789993  141.100006  139.259995  141.089996  126.807823  \

               volume ticker
 2020-01-02  10803700    JPM  ,
 'KO':              open   high        low      close   adjclose    volume ticker
 2020-01-02  55.32  55.43  54.759998  54.990002  49.683174  11867700     KO,
 'MCD':              open        high         low       close    adjclose   volume
 2020-01-02  198.0  200.800003  197.809998  200.789993  186.246735  3554200  \

            ticker
 2020-01-02    MCD  ,
 'MMM':                   open        high         low  close  adjclose   volume
 2020-01-02  177.679993  180.009995  177.139999  180.0  159.2491  3601700  \

            ticker
 2020-01-02    MMM  ,
 'MRK':                  open       high        low      close   adjclose   volume
 2020-01-02  86.908394  87.919846  86.230919  87.824425  79.031242  8251428  \

            ticker
 2020-01-02    MRK  ,
 'MSFT':                   open        high         low       close   adjclose
 2020-01-02  158.779999  160.729996  158.330002  160.619995  155.76178  \

               volume ticker
 2020-01-02  22622100   MSFT  ,
 'NKE':                   open        high         low       close   adjclose
 2020-01-02  101.360001  102.209999  101.019997  102.199997  99.128952  \

              volume ticker
 2020-01-02  5644100    NKE  ,
 'PG':              open        high         low       close    adjclose   volume
 2020-01-02  124.5  124.730003  122.940002  123.410004  113.211082  8130800  \

            ticker
 2020-01-02     PG  ,
 'TRV':                   open        high         low       close    adjclose
 2020-01-02  137.520004  137.740005  136.139999  137.509995  127.464386  \

              volume ticker
 2020-01-02  1117300    TRV  ,
 'UNH':                   open        high         low  close    adjclose   volume
 2020-01-02  293.980011  295.700012  289.790009  292.5  279.191498  2543400  \

            ticker
 2020-01-02    UNH  ,
 'V':              open        high         low       close    adjclose   volume
 2020-01-02  189.0  191.139999  188.720001  191.119995  187.007431  8733000  \

            ticker
 2020-01-02      V  ,
 'VZ':                  open       high        low      close   adjclose    volume
 2020-01-02  61.380001  61.450001  60.810001  61.049999  51.380074  11447900  \

            ticker
 2020-01-02     VZ  ,
 'WBA':                  open   high        low      close   adjclose   volume ticker
 2020-01-02  59.279999  59.59  58.700001  59.080002  51.409267  5700500    WBA,
 'WMT':                   open        high         low       close    adjclose
 2020-01-02  118.860001  119.889999  118.699997  118.940002  112.483597  \

              volume ticker
 2020-01-02  6764900    WMT  }